@import url('//fonts.googleapis.com/css?family=Exo+2:700,200,300,400,500');
@import url('//fonts.googleapis.com/css?family=PT+Sans:400,600,700');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
html{
  height: auto;
}
body{
  background-color: #151615;
}
.main-page{
  background-color: #0B0E0D;
}
.top-area{
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  background-color: #0B0E0D;
  &__inner{
    max-width: 1920px;
    margin: 0 auto;
    height: 759px;
    position: relative;
    overflow: hidden;
    .after-play-wrapper{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.5);
      text-align: center;
      display: none;
      z-index: 10;
      &__list{
        width: 920px;
        display: inline-block;
        text-align: center;
        margin-top: 350px;
        &__item{
          float: left;
          position: relative;
          &_trx{

          }
          &_box{
            display: inline-block;
            float: none;
          }
          &_bar{
            float: right;
          }
          a{
            text-decoration: none;
            font:bold 30px 'FSElliotPro';
            color: #ede900;
            opacity: 0;
            &:hover{
              color: #ffffff;
            }
            &:before{
              content: '';
              position: absolute;
              width: 30px;
              height: 1px;
              border-top: 2px solid #EDE900;
              left: 16px;
              bottom: -28px;
            }
          }
        }
      }
    }
    .video{
      width: 100%;
    }
    .posibility-list{
      height: 100%;
      overflow: hidden;
      &__item{
        height: 100%;
        display: block;
        float: left;
        width: 33%;
        &-text{
          font: 40px 'FSElliotProBold';
          color: #ede900;
          position: absolute;
          top: 47%;
          letter-spacing: 5px;
          transform: skewX(16deg);
          left: 50%;
          margin-left: -54px;
        }
        a{
          display: inline-block;
          filter: grayscale(100%);
          &:hover{
            filter: grayscale(0);
          }
        }
        &_trx{
          z-index: 10;
          width: 33%;
          transform: skewX(-16deg);
          a{
            background: url('../images/trx-man_hover.png') 50% 50% no-repeat;
            height: 100%;
            width: 751px;
            transform: skewX(16deg);
          }
        }
        &_box{
          z-index: 100;
          transform: skewX(-16deg);
          overflow: hidden;
          position: relative;
          a{
            background: url('../images/box-man_hover.png') 50% 50% no-repeat;
            transform: skewX(16deg);
            width: 985px;
            height: 100%;
            position: relative;
            left: -222px;
          }
        }
        &_bar{
          z-index: 10;
          right: 0;
          transform: skewX(-16deg);
          float: right;
          a{
            background: url('../images/bar-girl_hover.png') 50% 50% no-repeat;
            width: 751px;
            height: 100%;
            transform: skewX(16deg);
            margin-left: -140px;
          }
        }
      }
    }
  }
}
.trx{
  width: 100%;
  height: auto;
  background-color: #0D0E0D;
  position: relative;
  background: url(../images/trx-girl.png) 50% 0 no-repeat;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 10;
  &__inner{
    width: 960px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding-top: 265px;
    padding-left: 170px;
    padding-bottom: 100px;
    .side-left{
      width: 75px;
      height: 240px;
      background-image: url(../images/vert-trx.png);
      position: absolute;
      left: 0;
      top: -250px;
    }
    .trx-stain{
      background: url("../images/trx-stain.png") no-repeat;
      position: absolute;
      top: 175px;
      left: 202px;
      //padding: 55px 50px 0 61px;
      line-height: 19px;
      width: 0px;
      height: 0px;
      background-size: cover;
      &-text{
        font: 16px 'PFDinTextCompProMed';
        color: #050605;
      }
    }
    .training{
      padding-right: 315px;
      &-text{
        font: 19px 'FSElliotProLight';
        color: $white;
        line-height: 29px;
      }
    }
    .personal{
      padding-right: 517px;
      &__list{
        dt{
          font: 16px 'PFDinTextCompProMed';
          color: $white;
          margin-bottom: 29px;
        }
        dd{
          font: 11px 'FSElliotProBoldReg';
          color: $white;
          line-height: 22px;
        }
      }
    }
  }
}
.box{
  width: 100%;
  height: auto;
  position: relative;
  background: url(../images/box-man-index.png) 50% 0 no-repeat;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #171817;
  &__inner{
    width: 960px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding-top: 272px;
    padding-left: 318px;
    padding-bottom: 100px;
    .side-right{
      width: 77px;
      height: 251px;
      background-image: url(../images/vert-box.png);
      position: absolute;
      right: 0;
      top: -251px;
    }
    .box-stain{
      position: absolute;
      top: 135px;
      left: 424px;
      //padding: 58px 33px 0 51px;
      line-height: 19px;
      width: 0px;
      height: 0px;
      background: url("../images/box-stain.png") no-repeat;
      background-size: cover;
      &-text{
        font: 16px 'PFDinTextCompProMed';
        color: #050605;;
      }
    }
    .all-in-one{
      padding-right: 165px;
      &-text{
        font: 19px 'FSElliotProLight';
        color: $white;
        line-height: 29px;
      }
    }
    .group{
      padding-right: 370px;
      &__list{
        dt{
          font: 16px 'PFDinTextCompProMed';
          color: $white;
          margin-bottom: 29px;
        }
        dd{
          font: 11px 'FSElliotProBoldReg';
          color: $white;
          line-height: 22px;
        }
      }
    }
  }
}
.bar{
  width: 100%;
  height: auto;
  background-color: #0D0E0D;
  position: relative;
  background: url(../images/menu-girl.png) 50% 0 no-repeat;
  max-width: 1920px;
  margin: 0 auto;
  background-position: 60% 34%;
  &__inner{
    width: 960px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding-top: 415px;
    padding-left: 152px;
    padding-bottom: 100px;
    .side-left{
      width: 75px;
      height: 240px;
      background-image: url(../images/bar-vert.png);
      position: absolute;
      left: 0;
      top: -240px;
    }
    .seasonal{
      background: url("../images/menu-stain.png") no-repeat;
      width: 0px;
      height: 0px;
      background-size: cover;
      position: absolute;
      top: 387px;
      left: 177px;
      //padding: 55px 50px 0 47px;
      line-height: 19px;
      &-text{
        font: 16px 'PFDinTextCompProMed';
        color: #050605;
      }
    }
    .bar-training{
      padding-right: 340px;
      &-text{
        font: 19px 'FSElliotProLight';
        color: $white;
        line-height: 29px;
      }
    }
    .menu{
      padding-right: 517px;
      &__list{
        dt{
          font: 16px 'PFDinTextCompProMed';
          color: $white;
          margin-bottom: 29px;
        }
        dd{
          font: 11px 'FSElliotProBoldReg';
          color: $white;
          line-height: 22px;
        }
      }
    }
  }
}
.map{
  width: 100%;
  position: relative;
  height: 605px;
  max-width: 1920px;
  margin: 0 auto;
  &__inner{
    width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    .adress{
      text-align: center;
      top: 193px;
      left: 8px;
      z-index: 50;
      &-street{
        font: 16px 'PFDinTextCompProMed';
        color: #18181b;
      }
      &-number{
        font: 36px 'PFDinTextCompProMed';
        color: #18181b;
      }
    }
  }

}
.left-triangle{
  width: 37%;
  height: 255px;
  position: absolute;
  left: 0;
  background-size: auto;
  bottom: -133px;
  z-index: 20;
  &_yellow{
    width: 62%;
    height: 425px;
    bottom: -205px;
    &_top{
      width: 61%;
      height: 220px;
      bottom: 0;
      span{
        font: 366px 'FSElliotProHeavy';
        position: absolute;
        color: #ede900;
        top: -174px;
        left: 50%;
        margin-left: -266px;
      }
    }
    span{
      font: 0 'FSElliotProHeavy';
      position: absolute;
      color: #EDE900;
      line-height: 271px;
      width: 60%;
      text-align: center;
      min-width: 450px;
      bottom: 68%;
    }
    @media (max-width: 1200px){
      span{
        line-height: 204px;
        width: 52%;
        text-align: right;
        min-width: 310px;
        bottom: 67%;
        font-size: 254px;
      }
    }
  }
  img{
    width: 100%;
    height: 100%;
  }
}
.right-triangle{
  width: 63%;
  height: 423px;
  position: absolute;
  right: 0;
  bottom: -203px;
  z-index: 20;
  span{
    font: 366px 'FSElliotProHeavy';
    color: #313133;
    position: absolute;
    right: 0;
    top: 0;
  }
  @media (max-width: 1200px){
    span{
      font-size: 254px;
      bottom: 275px;
    }
  }
  &_gray{
    width: 38%;
    height: 255px;
    bottom: -133px;
    span{
      display: none;
    }
  }
  &_yellow_top{
    height: 220px;
    bottom: 0;
    span{
      right: 5%;
      bottom: 0px;
      color: #EDE900;
    }
  }
  &_light_dark{
    height: 255px;
    bottom: -133px;
    width: 39%;
    span{
      display: none;
    }
  }
  &_white_top{
    height: 220px;
    bottom: 0;
    span{
      color: #ffffff;
      left: 28%;
      bottom: -20px;
    }
  }
  img{
    width: 100%;
    height: 100%;
  }
  &_bottom{
    span{
      right: 0;
      bottom: 150px;
      left: 18%;
    }
    @media (max-width: 1200px){
      span{
        bottom: 190px;
      }
    }
  }
}
.video-area{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 640px;
  padding-bottom: 100px;
  background-color: $white;
  display: block;
  &__inner{
    width: 960px;
    margin: 0 auto;
    padding-top: 200px;
    .video{
      width: 480px;
      height: 278px;
      float: left;
      :hover{
        cursor: pointer;
      }
    }
    .video-description{
      float: right;
      width: 384px;
      dl{
        dt{
          font: 26px 'FSElliotProLight';
          color: $black;
        }
        dd{
          font: 11px 'FSElliotPro';
          color: $black;
          line-height: 23px;
          margin-top: 65px;
          padding-right: 20px;
        }
      }
    }
  }
}
.clear{
  clear: both;
}
.mobile-header{
  display: none;
}
.coaches{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: auto;
  background-color: $white;
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
  &__inner{
    width: 960px;
    display: inline-block;
    .our-trainers{
      background: url(../images/coach-stain.png) no-repeat;
      padding: 18px 0 0 80px;
      margin: 0 0 0 -80px
    }
    &__header{
      font: 66px 'PFDinTextCompProLight';
      color: #171716;
      text-align: left;
    }
    &__list{
      margin-top: 59px;
      &__item{
        width: 207px;
        float: left;
        margin-left: 20px;
        margin-right: 12px;
        .face{
          &_ray{
            @include ib-icons(ray);
          }
          &_lauren{
            @include ib-icons(lauren);
          }
          &_jeff{
            @include ib-icons(jeff);
          }
          &_julin{
            @include ib-icons(julin);
          }
        }
        h5{
          font: 16px 'PFDinTextCompProMed';
          color: #373634;
          letter-spacing: 1px;
          text-align: center;
        }
        p{
          font: 11px 'FSElliotPro';
          text-align: left;
          color: #000000;
          padding-right: 15px;
          line-height: 20px;
        }
      }
    }
  }
}