.product-buy-page{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
  &__inner{
    width: 960px;
    display: inline-block;
    .go-back{
      height: 120px;
      text-align: left;
      padding-top: 35px;
      &-link{
        color: #161616;
        font: 14px 'PFDinTextCompProMed';
        text-decoration: none;
        background: url("../images/go-back-stain.png") 0 50% no-repeat;
        display: inline-block;
        height: 75px;
        padding-top: 30px;
        padding-left: 33px;
        &:hover{
          color: #4a4a4a;
        }
      }
    }
  }
}
.product{
  &-photo{
    width: 520px;
    height: 550px;
    float: left;
  }
  &-description{
    width: 440px;
    float: right;
    text-align: left;
    padding: 0 25px;
    &__header{
      font: 64px 'FSElliotProLight';
      color: #000000;
      margin-bottom: 40px;
    }
    &__paragraph{
      font: 11px 'FSElliotPro';
      color: #000000;
      line-height: 22px;
      margin-bottom: 60px;
    }
    &__price{
      font: 36px 'FSElliotPro';
      color: #909090;
    }
  }
}
.popular-products{
  background-color: #ffffff;
  &__header{
    font: 26px 'FSElliotProLight';
    color: #000000;
    text-align: left;
    margin: 40px 0 20px 0;
  }
}