.icons-sprite {
  background-image: url('../images/sprites/icons-s4b08976151.png');
  background-repeat: no-repeat;
}

.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
